 *{
    background-image: url(../assets/BackgroundMelitha.png);
}

/* style for NavBar */

.melithaNavbar{
    border: 1px solid purple;
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 2%;

}

.iconsNav{    
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
}

/* style for NavMenu */

.navMenu{
     border: 1px solid black; 
}

.iconsSocialMedia{
    display: grid;
    padding: 2%;
    grid-template-columns: 10% 10% 10%;
    border: 1px solid green;
    justify-items: center;
    justify-content: center;
}
/* 
Esto deberia servir para ajustar el tamaño del icono */
.iconSM{
  
    width: 100;
    height: 100;
    
}