 *{
    background-image: url(../assets/BackgroundMelitha.png);
    color: #8C3503;
}

/* style for -header */

.melithaHeader{
    border: 1px solid purple;
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 2%;
}

.iconsNav{    
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
}

/* style for NavMenu */

.navMenu{
     border: 1px solid black; 
}

.iconsSocialMedia{
    display: grid;
    padding: 2%;
    grid-template-columns: 10% 10% 10%;
    border: 1px solid green;
    justify-items: center;
    justify-content: center;
}


/* Styles for footer */

.containerFooter{
    display: grid;
    justify-items: center;
    color: #8C3503;
    border: 1px solid red; 
    padding: 5px;   

}
.ubication{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    align-items: center;
    
}

