.bannerOne{
    color:brown ;
    -webkit-text-stroke: 1px white;
    display: flexbox;
    justify-items: center;
    border: 1px solid orange;
}

#sorprende{
    font-size: 200px;
}

#conMelitha{
    font-size: 20px;
}

.cardProducts{
    display: flexbox;
    

}

.AllProducts{
    padding: 2%;
    display: grid;
    justify-content: center;
    grid-auto-flow: dense;
    grid-template-columns: 40% 40%;
    gap: 10%;
    
}