.bannerOne{
    color:brown ;
    -webkit-text-stroke: 1px white;
    display: flexbox;
    justify-items: center;
    border: 1px solid orange;
}

#sorprende{
    font-size: 200px;
}

#conMelitha{
    font-size: 20px;
}

/* Styles for the cards */

/* .allCardsProducts{
    background: #C2F2DC ;
} */